.messageFlash{
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: center;
    opacity: 0;
    left:50%;
    transform: translateX(-50%);
    height:50px;
    animation-name: flash;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.messageFlash p{
    margin:0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 0 5px;
}


#messageValidator{
    color:rgb(193, 56, 50);
    font-size:14px;
    font-weight: bold;
}

@keyframes flash {
    0%   {top:-200px}
    20% {opacity:0.9;top: 5px}
    30% {opacity:1;top: 0px}
    40% {top: 5px}
    50% {top: 0px}
    60% {top: 5px}
    80% {opacity:0.8;top:0px}
    90% {opacity:0.5;top:5px}
    100% {top: 0px; opacity:0}
}

