footer.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
      .col-12.col-md
        small.d-block.mb-3.text-muted © Zappo - Wild Code School 2018
      .col-6.col-md
        h5
          a(href='https://www.zappo.fr') Zappo.fr
      .col-6.col-md
        h5
          a(href='https://fr.mailjet.com/pricing/#sms') MailJet
      .col-6.col-md
        h5
          a(href='https://wildcodeschool.fr/lyon/') Wild Code School
        